{% extends 'rawdjango/base.html' %}
{% load static %}


    {% block content %}

    <!-- section featured -->
    <section id="featured">

      <!-- opt in area for landing page -->
      <div class="landing">
        <div class="container">
          <div class="row">
            <div class="span6">
              <div class="video-container">
                <iframe width="560" height="315" src="{% static 'rawdjango/video/1.mp4' %}" title="The girl next door" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
            </div>
            <div class="span6">
              <h2><strong>Put your <span class="colored">Opt in form</span></strong></h2>
              <p class="animated fadeInUp"> Vim porro dicam reprehendunt te, populo quodsi dissentiet cum ad. Ne natum deseruisse vis. Iisque deseruisse sententiae mel ne, dolores appetere vim ut. Sea no tamquam reprimique.</p>
              <form>
                <div class="input-append">
                  <input class="span3 input-large" type="text">
                  <button class="btn btn-theme btn-large" type="submit">Subscribe</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

    </section>
    <!-- /section featured -->

    <section id="content">
      <div class="container">

        <div class="row">
          <div class="span6">
            <img src="{% static 'rawdjango/img/lp/screen-1.png' %}" alt="" class="flyLeft" />
          </div>
          <div class="span6">
            <div class="flyRight">
              <h4><strong><span class="colored">Retina ready</span> icons</strong></h4>
              <p>
                Lorem ipsum dolor sit amet, oporteat reformidans mei ut, sea simul intellegat ad. Accusata forensibus sed ne. Eu quas nemore aliquid eam. Lorem munere graeco ad eum.
              </p>
              <p>
                Est ne prima voluptatum, ea nam scripta invidunt petentium. Has ad summo aeterno maiorum. Partiendo scriptorem pri ad, pro choro sadipscing ne, ad usu tempor deleniti. Esse animal qualisque qui id. Sea habemus quaestio delicata an
              </p>
              <div class="blankline"></div>
              <i class="ico icon-circled icon-bgprimary icon-code icon-3x"></i>
              <i class="ico icon-circled icon-bgsuccess icon-beaker icon-3x"></i>
              <i class="ico icon-circled icon-bgwarning icon-rocket icon-3x"></i>
              <i class="ico icon-circled icon-bgdanger icon-cut icon-3x"></i>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="span12">
            <div class="solidline"></div>
          </div>
        </div>
        <div class="row">
          <div class="span6">
            <div class="flyLeft">
              <h4><strong><span class="colored">Responsive</span> design</strong></h4>
              <p>
                Lorem ipsum dolor sit amet, oporteat reformidans mei ut, sea simul intellegat ad. Accusata forensibus sed ne. Eu quas nemore aliquid eam. Lorem munere graeco ad eum.
              </p>
              <p>
                Est ne prima voluptatum, ea nam scripta invidunt petentium. Has ad summo aeterno maiorum. Partiendo scriptorem pri ad, pro choro sadipscing ne, ad usu tempor deleniti. Esse animal qualisque qui id. Sea habemus quaestio delicata an
              </p>
              <div class="blankline"></div>
              <p><a href="#" class="btn btn-success btn-medium">Learn more</a> <a href="#" class="btn btn-theme btn-medium">Live preview</a></p>
            </div>
          </div>
          <div class="span6">
            <img src="{% static 'rawdjango/img/lp/imac.png' %}" alt="" class="flyRight" />
          </div>

        </div>
        <div class="row">
          <div class="span12">
            <div class="solidline"></div>
          </div>
        </div>
        <div class="row">
          <div class="span12 aligncenter">
            <h3 class="title">What people <strong>saying</strong> about us</h3>
            <div class="blankline30"></div>

            <ul class="bxslider">
              <li>
                <blockquote>
                  Aliquam a orci quis nisi sagittis sagittis. Etiam adipiscing, justo quis feugiat.Suspendisse eu erat quam. Vivamus porttitor eros quis nisi lacinia sed interdum lorem vulputate. Aliquam a orci quis nisi sagittis sagittis. Etiam adipiscing, justo quis
                  feugiat
                </blockquote>
                <div class="testimonial-autor">
                  <img src="{% static 'rawdjango/img/dummies/testimonial/1.png' %}" alt="" />
                  <h4>Hillary Doe</h4>
                  <a href="#">www.companyname.com</a>
                </div>
              </li>
              <li>
                <blockquote>
                  Aliquam a orci quis nisi sagittis sagittis. Etiam adipiscing, justo quis feugiat.Suspendisse eu erat quam. Vivamus porttitor eros quis nisi lacinia sed interdum lorem vulputate. Aliquam a orci quis nisi sagittis sagittis. Etiam adipiscing, justo quis
                  feugiat
                </blockquote>
                <div class="testimonial-autor">
                  <img src="{% static 'rawdjango/img/dummies/testimonial/2.png' %}" alt="" />
                  <h4>Michael Doe</h4>
                  <a href="#">www.companyname.com</a>
                </div>
              </li>
              <li>
                <blockquote>
                  Aliquam a orci quis nisi sagittis sagittis. Etiam adipiscing, justo quis feugiat.Suspendisse eu erat quam. Vivamus porttitor eros quis nisi lacinia sed interdum lorem vulputate. Aliquam a orci quis nisi sagittis sagittis. Etiam adipiscing, justo quis
                  feugiat
                </blockquote>
                <div class="testimonial-autor">
                  <img src="{% static 'rawdjango/img/dummies/testimonial/3.png' %}" alt="" />
                  <h4>Mark Donovan</h4>
                  <a href="#">www.companyname.com</a>
                </div>
              </li>
              <li>
                <blockquote>
                  Aliquam a orci quis nisi sagittis sagittis. Etiam adipiscing, justo quis feugiat.Suspendisse eu erat quam. Vivamus porttitor eros quis nisi lacinia sed interdum lorem vulputate. Aliquam a orci quis nisi sagittis sagittis. Etiam adipiscing, justo quis
                  feugiat
                </blockquote>
                <div class="testimonial-autor">
                  <img src="{% static 'rawdjango/img/dummies/testimonial/4.png' %}" alt="" />
                  <h4>Marry Doe Elliot</h4>
                  <a href="#">www.companyname.com</a>
                </div>
              </li>
            </ul>

          </div>
        </div>

        <div class="row">
          <div class="span12">
            <div class="cta-box">
              <div class="row">
                <div class="span8">
                  <div class="cta-text">
                    <h2>Special price in very <span>limited</span> times</h2>
                  </div>
                </div>
                <div class="span4">
                  <div class="cta-btn">
                    <a href="#" class="btn btn-theme">Grab it now <i class="icon-angle-right"></i></a>
                  </div>
                </div>

              </div>


            </div>
          </div>
        </div>

      </div>
    </section>

  {% endblock %}

  {% block js %}
    <script src="{% static 'rawdjango/js/camera/camera.js' %}"></script>
    <script src="{% static 'rawdjango/js/camera/setting.js' %}"></script>
  {% endblock %}
