{% extends 'rawdjango/base.html' %}

{% block content %}

    <section id="inner-headline">
      <div class="container">
        <div class="row">
          <div class="span12">
            <div class="inner-heading">
              <ul class="breadcrumb">
                <li><a href="{% url 'index' %}">Home</a> <i class="icon-angle-right"></i></li>
                <li><a href="#">Pages</a> <i class="icon-angle-right"></i></li>
                <li class="active">Pricing box</li>
              </ul>
              <h2>Pricing Box</h2>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="content">
      <div class="container">



        <div class="row">
          <div class="span12">
            <h4>Styled pricing box</h4>
          </div>
          <div class="span4">
            <div class="pricing-box-wrap">
              <div class="pricing-heading">
                <h3>Very <strong>Basic</strong></h3>
              </div>
              <div class="pricing-terms">
                <h6>&#36;15.00 / Month</h6>
              </div>
              <div class="pricing-content">
                <ul>
                  <li><i class="icon-ok"></i> 100 applications</li>
                  <li><i class="icon-ok"></i> 24x7 support available</li>
                  <li><i class="icon-ok"></i> No hidden fees</li>
                  <li><i class="icon-ok"></i> Free 30-days trial</li>
                  <li><i class="icon-ok"></i> Stop anytime easily</li>
                </ul>
              </div>
              <div class="pricing-action">
                <a href="#" class="btn btn-medium btn-theme"><i class="icon-bolt"></i> Sign Up</a>
              </div>
            </div>
          </div>
          <div class="span4">
            <div class="pricing-box-wrap special">
              <div class="pricing-heading">
                <h3>Good <strong>Choice</strong></h3>
              </div>
              <div class="pricing-terms">
                <h6>&#36;25.00 / Month</h6>
              </div>

              <div class="pricing-content">
                <ul>
                  <li><i class="icon-ok"></i> 100 applications</li>
                  <li><i class="icon-ok"></i> 24x7 support available</li>
                  <li><i class="icon-ok"></i> No hidden fees</li>
                  <li><i class="icon-ok"></i> Free 30-days trial</li>
                  <li><i class="icon-ok"></i> Stop anytime easily</li>
                </ul>
              </div>
              <div class="pricing-action">
                <a href="#" class="btn btn-medium btn-theme"><i class="icon-bolt"></i> Sign Up</a>
              </div>
            </div>
          </div>
          <div class="span4">
            <div class="pricing-box-wrap">
              <div class="pricing-heading">
                <h3>Just <strong>Happy</strong></h3>
              </div>
              <div class="pricing-terms">
                <h6>&#36;35.00 / Month</h6>
              </div>

              <div class="pricing-content">
                <ul>
                  <li><i class="icon-ok"></i> 100 applications</li>
                  <li><i class="icon-ok"></i> 24x7 support available</li>
                  <li><i class="icon-ok"></i> No hidden fees</li>
                  <li><i class="icon-ok"></i> Free 30-days trial</li>
                  <li><i class="icon-ok"></i> Stop anytime easily</li>
                </ul>
              </div>
              <div class="pricing-action">
                <a href="#" class="btn btn-medium btn-theme"><i class="icon-bolt"></i> Sign Up</a>
              </div>
            </div>
          </div>
        </div>

        <!-- divider -->
        <div class="row">
          <div class="span12">
            <div class="solidline"></div>
          </div>
        </div>
        <!-- end divider -->

        <div class="row">
          <div class="span12">
            <h4>Styled pricing box example on 4 columns</h4>
          </div>
          <div class="span3">
            <div class="pricing-box-wrap">
              <div class="pricing-heading">
                <h3>Very <strong>Basic</strong></h3>
              </div>
              <div class="pricing-terms">
                <h6>&#36;15.00 / Month</h6>
              </div>
              <div class="pricing-content">
                <ul>
                  <li><i class="icon-ok"></i> 100 applications</li>
                  <li><i class="icon-ok"></i> 24x7 support available</li>
                  <li><i class="icon-ok"></i> No hidden fees</li>
                  <li><i class="icon-ok"></i> Free 30-days trial</li>
                  <li><i class="icon-ok"></i> Stop anytime easily</li>
                </ul>
              </div>
              <div class="pricing-action">
                <a href="#" class="btn btn-medium btn-theme"><i class="icon-bolt"></i> Sign Up</a>
              </div>
            </div>
          </div>
          <div class="span3">
            <div class="pricing-box-wrap">
              <div class="pricing-heading">
                <h3>Simple <strong>Choice</strong></h3>
              </div>
              <div class="pricing-terms">
                <h6>&#36;20.00 / Month</h6>
              </div>
              <div class="pricing-content">
                <ul>
                  <li><i class="icon-ok"></i> 100 applications</li>
                  <li><i class="icon-ok"></i> 24x7 support available</li>
                  <li><i class="icon-ok"></i> No hidden fees</li>
                  <li><i class="icon-ok"></i> Free 30-days trial</li>
                  <li><i class="icon-ok"></i> Stop anytime easily</li>
                </ul>
              </div>
              <div class="pricing-action">
                <a href="#" class="btn btn-medium btn-theme"><i class="icon-bolt"></i> Sign Up</a>
              </div>
            </div>
          </div>
          <div class="span3">
            <div class="pricing-box-wrap special">
              <div class="pricing-heading">
                <h3>Special <strong>Choice</strong></h3>
              </div>
              <div class="pricing-terms">
                <h6>&#36;15.00 / Month</h6>
              </div>
              <div class="pricing-content">
                <ul>
                  <li><i class="icon-ok"></i> 100 applications</li>
                  <li><i class="icon-ok"></i> 24x7 support available</li>
                  <li><i class="icon-ok"></i> No hidden fees</li>
                  <li><i class="icon-ok"></i> Free 30-days trial</li>
                  <li><i class="icon-ok"></i> Stop anytime easily</li>
                </ul>
              </div>
              <div class="pricing-action">
                <a href="#" class="btn btn-medium btn-theme"><i class="icon-bolt"></i> Sign Up</a>
              </div>
            </div>
          </div>
          <div class="span3">
            <div class="pricing-box-wrap">
              <div class="pricing-heading">
                <h3>Just <strong>Happy</strong></h3>
              </div>
              <div class="pricing-terms">
                <h6>&#36;15.00 / Month</h6>
              </div>
              <div class="pricing-content">
                <ul>
                  <li><i class="icon-ok"></i> 100 applications</li>
                  <li><i class="icon-ok"></i> 24x7 support available</li>
                  <li><i class="icon-ok"></i> No hidden fees</li>
                  <li><i class="icon-ok"></i> Free 30-days trial</li>
                  <li><i class="icon-ok"></i> Stop anytime easily</li>
                </ul>
              </div>
              <div class="pricing-action">
                <a href="#" class="btn btn-medium btn-theme"><i class="icon-bolt"></i> Sign Up</a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>

{% endblock %}
