{% extends 'rawdjango/base.html' %}

{% block content %}

    <section id="inner-headline">
      <div class="container">
        <div class="row">
          <div class="span12">
            <div class="inner-heading">
              <ul class="breadcrumb">
                <li><a href="{% url 'index' %}">Home</a> <i class="icon-angle-right"></i></li>
                <li><a href="#">Pages</a> <i class="icon-angle-right"></i></li>
                <li class="active">Services</li>
              </ul>
              <h2>Our Services</h2>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="content">
      <div class="container">
        <div class="row">

          <div class="span12">
            <h4 class="title">What we do</h4>
            <p>
              Ei mel semper vocent persequeris, nominavi patrioque vituperata id vim, cu eam gloriatur philosophia deterruisset. Meliore perfecto repudiare ea nam, ne mea duis temporibus. Id quo accusam consequuntur, eum ea debitis urbanitas. Nibh reformidans vim ne.
            </p>


          </div>

        </div>


        <div class="row">

          <div class="span3">
            <div class="service-box aligncenter flyLeft">
              <div class="icon">
                <i class="icon-circled icon-bgprimary icon-code icon-4x"></i>
              </div>
              <h5>Custom <span class="colored">CMS</span></h5>
              <p>
                Cum sociis natoque penatibus et magnis dis parturient montes,
              </p>

            </div>
          </div>
          <div class="span3">
            <div class="service-box aligncenter flyIn">
              <div class="icon">
                <i class="icon-circled icon-bgsuccess icon-cloud icon-4x"></i>
              </div>
              <h5>Cloud <span class="colored">Hosting</span></h5>
              <p>
                Cum sociis natoque penatibus et magnis dis parturient montes,
              </p>

            </div>
          </div>
          <div class="span3">
            <div class="service-box aligncenter flyIn">
              <div class="icon">
                <i class="icon-circled icon-bgdanger icon-mobile-phone icon-4x"></i>
              </div>
              <h5>Mobile <span class="colored">Application</span></h5>
              <p>
                Cum sociis natoque penatibus et magnis dis parturient montes,
              </p>

            </div>
          </div>
          <div class="span3">
            <div class="service-box aligncenter flyRight">
              <div class="icon">
                <i class="icon-circled icon-bgwarning icon-envelope-alt icon-4x"></i>
              </div>
              <h5>Viral <span class="colored">Marketing</span></h5>
              <p>
                Cum sociis natoque penatibus et magnis dis parturient montes,
              </p>

            </div>
          </div>
        </div>

        <div class="row">
          <div class="span12">
            <div class="cta-box">
              <div class="row">
                <div class="span8">
                  <div class="cta-text">
                    <h2>Special price in very <span>limited</span> times</h2>
                  </div>
                </div>
                <div class="span4">
                  <div class="cta-btn">
                    <a href="#" class="btn btn-theme">Get a quote <i class="icon-angle-right"></i></a>
                  </div>
                </div>

              </div>


            </div>
          </div>
        </div>

      </div>
    </section>

{% endblock %}
